.bar {
    margin-left: 20px;
    margin-top: 8px;
}
#h1 {
    font-family: 'Roboto Condensed', serif;
    font-weight: bold;
}
.footer {

    margin: 5%;
    font-family: Avenir;
    font-size:15px;
}